/* Default link style */
#urlTO {
    color: rgb(47, 47, 228);
    text-decoration: none; /* Remove underline */
}

/* Visited link style */
#urlTO:visited {
    color: rgb(47, 47, 228); /* Set the color for visited links */
}

a{
    text-decoration: none;
}

h2{
    transition-duration: 200ms;
}

/* OLD STYLING USED FOR REFERENCE */
.itemWebsiteDiv {
    background-color: rgb(114, 187, 120);
    color: white;
    text-align: center;

    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */

    height: 50px;
    max-width: 300px;
    min-width: 40px;

    text-align: center;
    flex: 1; /* Allow the div to grow and shrink based on available space */

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;

    border-radius: 25px;

}


.container {
    max-width: 100%; /* Set your desired maximum width */
    min-width: 100px; /* Set your desired minimum width */
    text-align: center; /* Center the content horizontally */

    color: white;

    border: 20px;
}

.container-plot {
    max-width: 1500px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* This will center the container horizontally */
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
}


@media (max-width: 350px) {
    .container-plot {
        flex-direction: column; /* Display items vertically */

        max-width: 1500px; /* Adjust the maximum width as needed */
        margin: 0 auto; /* This will center the container horizontally */
        text-align: center;
        color: white;
        display: flex;
    }

    .graph-container {
        flex: 1;
        margin: 10px;
        width: 100%; /* Ensures canvas fills its container */
    }
}

.graph-container {
    flex: 1;
    margin: 10px;
    max-width: 100%; /* Each canvas should take half of the container width */
    width: 100%; /* Ensures canvas fills its container */
}

.canvas-container {
    width: 100%; /* Ensures canvas fills the container */
}


#up {
    display: inline-block; /* Ensure the link behaves like a block-level element */
    padding: 10px min(150px, 30%) 10px min(150px, 30%); /* Optional: Add padding for better visual appearance */
    background-color: rgb(114, 187, 120); /* Optional: Add background color */
    color: white; /* Optional: Set text color */
    text-decoration: none; /* Optional: Remove underline */
    border-radius: 25px; /* Optional: Add border radius for rounded corners */

    margin-left: auto;
    margin-right: auto;

    font-size: 20px;
    transition-duration: 500ms;
}

#down{
    background-color: rgb(187, 125, 114);
    display: inline-block; /* Ensure the link behaves like a block-level element */
    padding: 10px min(150px, 30%) 10px  min(150px, 30%); /* Optional: Add padding for better visual appearance */
    color: white; /* Optional: Set text color */
    text-decoration: none; /* Optional: Remove underline */
    border-radius: 25px; /* Optional: Add border radius for rounded corners */

    font-size: 20px;
    transition-duration: 500ms;
}

/*For mobile*/
@media (max-width: 350px) {
    #down, #up,body {
        font-size: 15px;
    }

    h2{
        font-size: 20px;
        transition-duration: 500ms;
    }
}

#up:hover{
    transition-duration: 100ms;
    background-color: rgb(92, 151, 97);
}

#down:hover{
    transition-duration: 100ms;
    background-color: rgb(153, 103, 95);
}

/*For mobile*/
@media (max-width: 600px) {
    #down {
        padding: 10px 40px 10px 40px;
    }

    #up {
        padding: 10px 55px 10px 55px;
    }

    .container-plot {
        display: block;
    }
    
}

/* Define the CSS class */
.big-gap {
    margin-top: 1000px; /* Adjust the value as needed to achieve the desired gap */
    margin-bottom: 1000px;
    padding-top: 1000px;
}

/* Apply the class to a span element */
span.big-gap {
    /* Additional styling specific to span elements with the "big-gap" class, if needed */
}

button{
    size: 30px;
    font-size:20px;
    border: 0;
    border-radius: 5px;

    margin: 10px;
    padding: 5px 15px 5px 15px;

    color: rgb(235, 234, 234);
}

button:hover{
    cursor: pointer;
}

button.yes{
    background-color: rgb(92, 151, 97);
}

button.no{
    background-color: rgb(153, 103, 95);
}

button.yes:hover{
    background-color: rgb(74, 121, 78);
}

button.no:hover{
    background-color: rgb(114, 77, 71);
}

#result{
    height: 20px;
}

.graph{
    flex:1;

    max-width: 600px;
    min-width: 200px;
    width: 100%;
}