h1{
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.homepanel{
    display: inline-block; /* or inline */
    text-align: center;

}

iframe{
    overflow: hidden; /* So I don't have any scroll */

    width: 400px;
    height: 200px;

    margin: 10px;
    border: 10;
    border-radius: 25px;
    border-style: dotted;
    border-color: rgb(78, 65, 37);

    background-color: rgb(247, 247, 247);

    flex: 1; /* Allow the div to grow and shrink based on available space */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */

    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/*For mobile*/
@media (max-width: 600px) {
    iframe {
        width: 320px;
        height: 180px;
    }
}

/* Default link style */
a {
    color: blue;
    text-decoration: none; /* Remove underline */
}

/* Visited link style */
a:visited {
    color: blue; /* Set the color for visited links */
}

#services-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    justify-content: space-around; /* Align items with space around them */
}