<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8NE1H2V6SH"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8NE1H2V6SH');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WN9S28RW');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="aGMTsvUStNIejr6z4Ew8Mdme0SpSLKKjPE9uNbrKQzE" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={{ _("UCLouvain Down Detector - Real-time outage reports for UCLouvain services. Check if moodle, intranet, your mail are down. Report the status of a website easily and see past outages") }}>
    <meta name="keywords" content={{ _("UCLouvain, monitoring, outage, status, university services, downtime, downdetector, students") }}>
    <meta name="author" content={{ _("EPL Students") }}>
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="og:title" content={{ _("UCLouvain Down Detector") }}>
    <meta name="og:description" content={{ _("Real-time outage reports for UCLouvain services") }}>
    <meta name="og:type" content="website">
    <meta name="og:url" content="https://www.uclouvain-down.be">
    <meta name="og:image" content="{{ url_for('static', filename='ico/icoDOWN.png') }}">


    {% block head %}
    <title>UCLouvain Down</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/ico/icoDOWN.png">
    {% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN9S28RW"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/"><span class="header-button"> <b> {{ _("Home") }}</b> </span></a>
        <a href="/serviceList"><span class="header-button"> <b> {{ _("ServiceList") }}</b> </span></a>
        <a href="/request"><span class="header-button"> <b>{{ _("Request Service") }}</b> </span></a>
        <a href="/api/docs"><span class="header-button"> <b>API</b> </span></a>
    </div>

    <div id="header">
        <div class="header-buttons" id="hb">
            <a href="/"><span class="header-button"> <b> {{ _("Home") }}</b> </span></a>
            <a href="/serviceList"><span class="header-button"> <b> {{ _("ServiceList") }}</b> </span></a>
            <a href="/request"><span class="header-button"> <b>{{ _("Request Service") }}</b> </span></a>
            <a href="/api/docs"><span class="header-button"> <b>API</b> </span></a>
        </div>

        <span onclick="openNav()" id="menu">&#9776;</span>

        <div class="right-buttons">
            <select name="Language" id="language-select">
                {% for lang in ["en", "fr"] %}
                    <option value="{{ lang }}" {% if lang == get_locale %}selected{% endif %}>{{ lang }}</option>
                {% endfor %}
            </select>
            <a href="https://github.com/Tfloow/UCLouvainDown"><span class="header-button"> <b>Github</b> </span></a>
        </div>
    </div>
    
    {% block content %}

    {% endblock %}

    <footer>
        <p> 
            <a href="https://github.com/Tfloow/UCLouvainDown" class="github-footer">Github</a> -
            <a href="https://github.com/Tfloow/UCLouvainDown/issues" class="github-footer">{{ _("Issue or Request ?") }}</a> -
            <a href="https://github.com/Tfloow/UCLouvainDown#introduction" class="github-footer">{{ _("What is this ?") }}</a> - 
            <a href="/info" class="github-footer">Info</a>
        </p>
    </footer>

    <script src="{{ url_for("static", filename='script/languageSelection.js')}}"></script>
    <script src="{{ url_for("static", filename='script/sideBar.js')}}"></script>

    {% block script %}

    {% endblock %}
</body>
</html>