{% extends "base.html" %}

{% block head %}
    <title>UCLouvain Down</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/ico/icoDOWN.png">
{% endblock %}

{% block content %}
    <h1>Is it down ?</h1>
    <div class="homepanel">
        {% for site in serviceList %} 
            <iframe src="/{{ site }}" id="flex-container" class="scrolled" scrolling="no" onload="adjustScrollPosition()">  </iframe> 
        {% endfor %}
    </div>

{% endblock %}

{% block script %}
    <script>
        function adjustScrollPosition() {
            var iframes = document.querySelectorAll('.scrolled');
            if (iframes) {
                iframes.forEach(function (iframe) {
                    iframe.contentWindow.scrollTo({ top: 62, behavior: 'smooth' }); // Adjust the scroll position here
                });
            }
        }
    </script>
{% endblock %}