{% extends "base.html" %}

{% block head %}
    <title>UCLouvain Down</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleItem.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/ico/icoDOWN.png">
{% endblock %}

{% block content %}
    <h1>UCLouvain Down - Is it down ?</h1>
    <div class="homepanel">
        {% for service in serviceList %} 
        <div class="iframe-replacement">
            <h3> {{ _("Status for %(servicename)s ", servicename=service.name) }} @ <a href={{ service.url }} id="urlTO"> {{ _("%(url)s", url=service.url ) }} </a> </h3>

            {% if service.is_up %}
            <div class="container">
                <a href="/{{ service.name }}" target="_blank" id="up"> {{ _("Up") }} </a>
            </div>
            {% else %}
            <div class="container">
                <a href="/{{ service.name }}"  target="_blank" id="down"> {{ _("Down") }} </a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

{% endblock %}
