{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styleInfo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleItem.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/ico/icoDOWN.png">
{% endblock %}

{% block content %}
    <h1>UCLouvain Down - Is it down ?</h1>
    <div id="info">
        <p>
            {{ _("We are") }} <b> {{ _("not associated with UCLouvain") }} </b>. {{ _("UCLouvain Down is a little student project initiated by Thomas Debelle and Wouter Vermeulen from the EPL.
            You can find all contributors of this project ") }} <a href="https://github.com/Tfloow/UCLouvainDown/graphs/contributors"> {{ _("here") }} </a>.
            <br>
            <span class="indent"> {{ _("If you have any issue with the website feel free to send an email at ") }} <a href="mailto:contact@uclouvain-down.be?subject=Inquiry about UCLouvain Down">contact@uclouvain-down.be</a> </span>
        </p>
    </div>
    <h2>{{ _("What is UCLouvain Down ?") }}</h2>
    <div id="info">
        <p>
            {{ _("UCLouvain Down is a website that allows you to check the status of the UCLouvain services. It is a simple and easy way to know if the services are up or down.") }}
            <br>
            <span class="indent"> {{ _("The status of every websites or services are updated every 5 minutes. We do not display the status of the previous days and the reset is done at 3 AM each day. You can still access past status of a service with requesting a url looking like: ") }} <a href="/extract?get=404-Test_archive"> /extract?get=SERVICENAME_archive </a> 
            
            </span>
        </p>
    </div>
    <h2>{{ _("Add a new service") }}</h2>
    <div id="info">
        <p>
            {{ _("If you want to add a new service to the list, you just need to fill in this forms ") }} <a href="/request"> {{ _("here") }} </a>. {{ _("We will review your request and add the service if it is relevant. Please provide some extra info as it helps us with the validation process") }}
        </p>

    </div>
    <h2>{{ _("Bug report") }}</h2>
    <div id="info">
        <p>
            {{ _("If you find a bug or an issue with the website, feel free to open an issue at ") }} <a href="https://github.com/Tfloow/UCLouvainDown/issues"> {{ _("this link") }} </a>.
        </p>
    </div>


{% endblock %}