{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styleInfo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleItem.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/ico/icoDOWN.png">
{% endblock %}

{% block content %}
    <h1>UCLouvain Down - Is it down ?</h1>
    <div id="info">
        <p>
            {{ _("We are") }} <b> {{ _("not associated with UCLouvain") }} </b>. {{ _("UCLouvain Down is a little student project initiated by Thomas Debelle and Wouter Vermeulen from the EPL.
            You can find all contributors of this project ") }} <a href="https://github.com/Tfloow/UCLouvainDown/graphs/contributors"> {{ _("here") }} </a>.
            <br>
            <span class="indent"> {{ _("If you have any issue with the website feel free to send an email at ") }} <a href="mailto:88899420+Tfloow@users.noreply.github.com?subject=Inquiry about UCLouvain Down">88899420+Tfloow@users.noreply.github.com</a> {{ _("(yes it's my Github mail)") }} </span>
        </p>
    </div>

{% endblock %}