{% extends "base.html" %}
{% block head %}
    <title>{{ service.name }} - UCLouvain Down</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js to visualize data -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styleItem.css') }}">
    {% if service.is_up %}
        <link rel="icon" type="image/x-icon" href="/static/ico/icoUP.png">
    {% else %}
        <link rel="icon" type="image/x-icon" href="/static/ico/icoDOWN.png">
    {% endif %}
{% endblock %}


{% block content %}
    <h2>{{ _("Status for %(servicename)s ", servicename=service.name) }} @ <a href={{ service.url }} id="urlTO"> {{ _("%(url)s", url=service.url ) }} </a> </h2>

    {% if service.is_up %}
    <div class="container">
        <a href="/{{ service.name }}" target="_blank" id="up"> {{ _("Up") }} </a>
    </div>
    {% else %}
    <div class="container">
        <a href="/{{ service.name }}"  target="_blank" id="down"> {{ _("Down") }} </a>
    </div>
    {% endif %}

    <br>
    <br>

    <p id="down-user">
        <h3> {{ _("Is this website currently working for you ?") }}</h3>
        <br>
        <button class="yes" onclick="sendChoice('yes', '{{ service.name }}')"  >{{ _("Yes !") }} </button>     <!-- onclick="sendChoice('yes', '{{ service.name }}')"-->
        <button class="no"  onclick="sendChoice('no', '{{ service.name }}')"  >{{ _("No !") }} </button>        <!-- onclick="sendChoice('no', '{{ service.name }}')"-->
    </p>

    <div id="result"></div>

    <div class="container-plot">
        <div class="graph-container">
            <div class="canvas-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="graph-container">
            <div class="canvas-container">
                <canvas id="myChart_user"></canvas>
            </div>
        </div>
        <div class="graph-container">
            <div class="canvas-container">
                <canvas id="stat"></canvas>
            </div>
        </div>
    </div>
    




{% endblock %}

{% block script %}
    <script src="../static/script/itemWebsite.js"></script>
{% endblock %}

