<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styleItem.css') }}">
    {% if service.is_up %}
        <link rel="icon" type="image/x-icon" href="/static/ico/icoUP.png">
    {% else %}
        <link rel="icon" type="image/x-icon" href="/static/ico/icoDOWN.png">
    {% endif %}
</head>
<body>
    <h2>Status for {{ service.name }} @ <a href={{ service.url }} id="urlTO"> {{ service.url }} </a> </h2>

    {% if service.is_up %}
    <div class="container">
        <a href="/{{ service.name }}" target="_blank" id="up"> Up </a>
    </div>
    {% else %}
    <div class="container">
        <a href="/{{ service.name }}"  target="_blank" id="down"> Down </a>
    </div>
    {% endif %}

    <br>

    <p id="down-user">
        <h3>Is this website currently working for you ?</h3>
        <br>
        <button class="yes" onclick="sendChoice('yes', '{{ service.name }}')">Yes ! </button>
        <button class="no" onclick="sendChoice('no', '{{ service.name }}')">No ! </button>
    </p>

    <div id="result"></div>

    <div class="container">
        <div id="log-plot">
            <img src="../static/img/log/{{ service.name }}.png" alt="Graph for {{ service.name }}" id="graph">
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="../static/script/itemWebsite.js"></script>
{% endblock %}
