<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>
    <link rel="stylesheet" href="../static/styleItem.css">
    {% if service.is_up %}
        <link rel="icon" type="image/x-icon" href="/static/ico/icoUP.png">
    {% else %}
        <link rel="icon" type="image/x-icon" href="/static/ico/icoDOWN.png">
    {% endif %}
</head>
<body>
    <h2>Status for {{ service.name }} @ <a href={{ service.url }} id="urlTO"> {{ service.url }} </a> </h2>

    {% if service.is_up %}
    <div class="container">
        <a href="/{{ service.name }}" target="_blank" id="up"> Up </a>
    </div>
    {% else %}
    <div class="container">
        <a href="/{{ service.name }}"  target="_blank" id="down"> Down </a>
    </div>
    {% endif %}
</body>
</html>