{% extends "base.html" %}
{% block head %}
    <title>ServiceList</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleItem.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleServiceList.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/ico/icoDOWN.png">
{% endblock %}


{% block content %}
    <table border="0">

        <tr> 
            <th> <h3>{{ _("Service") }}</h3> </th>
            <th> <h3>{{ _("URL") }}</h3> </th>
            <th> <h3>{{ _("Reported Status by Users") }}</h3> </th>
            <th> <h3>{{ _("Status") }}</h3> </th>
        </tr>
        {% for serviceInfo in servicesInfo %}
        <tr>
           

            <th> <h4>{{ serviceInfo["service"].name }}</h4> </th>
            <th> <h5><a href={{ serviceInfo["service"].url }}>{{ serviceInfo["service"].url }}</a></h5> </th>
            {% if serviceInfo["service"].is_up_user  %}
                <th class="report-up"> <div class="thumb"> {{ serviceInfo["service"].is_up_user }} </div> </th>
            {% elif serviceInfo["reportedStatus"] == False %}
                <th class="report-down"> <div class="thumb"> {{ serviceInfo["service"].is_up_user }} </div> </th>
            {% else %}
                <th class="report-none"> <div class="thumb"> {{ serviceInfo["service"].is_up_user }} </div> </th>
            {% endif %}
            
            {% if serviceInfo["service"].status %}
                <th > <a href="/{{ serviceInfo["service"].name }}"  id="up"> {{ _("Up") }} </a> </th>
            {% else %}
                <th > <a href="/{{ serviceInfo["service"].name }}"  id="down"> {{ _("Down") }} </a> </th>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
{% endblock %}